@import "tailwindcss";

@layer base {
  body {
    background-color: #f8faf9;
    color: #27272a;
    @apply antialiased;
    margin: 0;
    font-family: 'Inter', sans-serif;
  }
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #d4d4d8;
    border-radius: 99px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #a1a1aa;
  }
}
